# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Datasts
data/test/
data/train/
datasets/

# Notebook cache
.ipynb_checkpoints/

# System files
.DS_Store

# Streamlit upload temp
uploaded_images/
